{% extends "base.html" %}
{% block title %}キリル文字入力ツール{% endblock %}

{% block additional_header %}
<meta name="description" content="キリル文字を入力するためのツールです。ロシア語以外の言語にも対応しています。">
<script src="/script.js"></script>
<link rel="stylesheet" href="/main.css">
{% endblock %}

{% block body %}
{% include "include/header.html" %}
<div class="container">
  <div class="mb-2">
    {% include "include/language-select.html" %}
  </div>
  <div class="mb-2">
    {% include "include/transcription-table.html" %}
  </div>
  <script>initializeLanguageSelect()</script>
  <div class="mb-3">
    {% include "include/converter.html" %}
  </div>
</div>
{% endblock %}
